@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}
body {
  @apply bg-bg text-fg font-sans;
  font-feature-settings: "tnum" 1;
  font-size: 14px;
}
a {
  @apply text-fg no-underline;
}
::selection {
  background: rgba(60, 194, 123, 0.2);
}
